%nav
  .nav-wrapper
    .brand-wrapper.left
      %a.brand-logo{:href => "/"}
        %i.material-icons receipt
        Youmem
    %ul#nav-mobile.left.hide-on-med-and-down
      %li
        = link_to "Dashboard", dashboard_path
      %li
        = link_to "Cards", cards_path
    .profile-area.right
      = link_to 'Sign out', destroy_session_path(:user), :method => :delete
