%li.card-row
  .card-id.hide{'data-bind': 'text: cardId'}
  .collapsible-header
    %span.card-question{'data-bind': 'text: cardQuestion'}
  .collapsible-body
    %p.card-answer{'data-bind': 'text: cardAnswer'}
