%div
  = link_to new_card_path, class: 'btn-large waves-effect waves-light' do
    %i.material-icons add
    %span.btn-text New card
%br

%ul.collapsible.cards-collection.popout
  - @cards.each do |card|
    %li.card-row
      .card-id.hide<
        = card.id
      .collapsible-header
        %span.card-question<
          = card.question
      .collapsible-body
        .card-answer<
          = card.answer

#active-card-template.hide
  %input.card-id{type: :hidden, 'data-bind': 'value: activeCardId'}
  .collapsible-header
    %input.card-question{type: :text, 'data-bind': 'value: activeQuestion'}
  .collapsible-body
    %input.card-answer{type: :text, 'data-bind': 'value: activeAnswer'}
    %a.delete-link.modal-trigger.right{'href': '#confirm-dialog'}
      %i.material-icons delete

#inactive-card-template.hide
  .card-id.hide{'data-bind': 'text: activeCardId'}<
  .collapsible-header
    %span.card-question{'data-bind': 'text: activeQuestion'}
  .collapsible-body
    %p.card-answer{'data-bind': 'text: activeAnswer'}

#confirm-dialog.modal
  .modal-content
    Are you sure?
  .modal-footer
    %a.modal-action.modal-close.waves-effect.waves-green.btn-flat{href: "#!"} Close
    %a{'data-method': :delete, 'data-bind': 'attr: { href: activeCardDeletePath() }',
      class: 'modal-action waves-effect waves-green btn-flat'} Delete
