%div
  = link_to new_card_path, class: 'btn-large waves-effect waves-light' do
    %i.material-icons add
    %span.btn-text New card
%br

%ul.collection.cards-collection
  - @cards.each do |card|
    %li.collection-item{"data-url": edit_card_path(card)}
      = card.question
      = link_to card, method: :delete, class: 'secondary-content confirmable',
        'data-modal-id': "#confirm-dialog" do
        %i.material-icons delete

%div#confirm-dialog.modal
  %div.modal-content
    Are you sure?
  %div.modal-footer
    %a.modal-action.modal-close.waves-effect.waves-green.btn-flat{href: "#!"} Close
    = link_to 'Delete', 'url-placeholder', method: :delete,
      class: 'modal-action waves-effect waves-green btn-flat confirm-success'
