.cards-collection li.active
  .collapsible-body
    display: block!important
    overflow: hidden
    padding: 20px 2% 10px
    a.delete-link
      cursor: pointer
  .collapsible-header
    padding-left: 2%
    padding-right: 2%
